.tours-section {
  padding: 30px 50px 0;
  font-family: "Catamaran";
}

.tours-container {
  margin: 0 auto;
  width: 80vw;
}

.tours-text {
  text-align: center;
  color: $text-grey;
  font-size: 18px;
}

.tours-list {
  list-style-type: none;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;

  li {
    padding: 0 30px 20px;
    width: 26%;
  }

  a {
    text-decoration: none;
    color: $text-grey;
  }

  p {
    text-align: center;

    &:hover {
      color: $text-green;
    }
  }

  .tours-image {
    box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    height: 210px;
    width: 280px;

    &:hover {
      box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
      opacity: 0.5;
    }
  }
}
