// header
$title-green: #65e3b8;
$title-grey: #a9a6a6;

// background
$background-grey: #ececec;
$background-green: #65e3b8;
$background-green-hover: #50b895;

// text
$text-white: #ffff;
$text-grey: #a9a6a6;
$text-red: #db3a43;

$border-green: #65e3b8;

$placeholder: #c2c2c2;
